
  <h2 style="margin: auto"> Expense List</h2>
  <button class="btn btn-danger" style="width:150px" (click)="addUser()"> Add Expense</button>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Transaction Date</th>
      <th>Post Date</th>
      <th>Description</th>
      <th>Category</th>
      <th>Type</th>
      <th>Amount</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">

      <td>{{user.transactionDate}}</td>
      <td>{{user.postDate}}</td>
      <td>{{user.description}}</td>
      <td>{{user.category}}</td>
      <td>{{user.type}}</td>
      <td>{{user.amount}}</td>
      <td><button class="btn btn-success" (click)="deleteUser(user)"> Delete</button>
        <button class="btn btn-success" (click)="editUser(user)" style="margin-left: 20px;"> Edit</button></td>
    </tr>
    </tbody>
  </table>

