<div class="col-md-6 user-container">
  <h2 class="text-center">Add Expense</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="transactionDate">Transaction Date:</label>
      <input type="text" formControlName="transactionDate" placeholder="transactionDate" name="transactionDate" class="form-control" id="transactionDate">
    </div>

    <div class="form-group">
      <label for="postDate">Post Date:</label>
      <input type="text" formControlName="postDate" placeholder="postDate" name="postDate" class="form-control" id="postDate">
    </div>

    <div class="form-group">
      <label for="postDate">Description:</label>
      <input formControlName="description" placeholder="description" name="description" class="form-control" id="description">
    </div>

    <div class="form-group">
      <label for="category">Category:</label>
      <input formControlName="category" placeholder="category" name="category" class="form-control" id="category">
    </div>

    <div class="form-group">
      <label for="type">Type:</label>
      <input type="text" formControlName="type" placeholder="type" name="type" class="form-control" id="type">
    </div>

    <div class="form-group">
      <label for="amount">Amount:</label>
      <input type="number" formControlName="amount" placeholder="amount" name="amount" class="form-control" id="amount">
    </div>

    <button class="btn btn-success">Add</button>
  </form>
</div>
